<div class="container">
  <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>all ours cocktails (<%= @cocktails.count %>)</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
      <ul>
    <div class="card br-2">
      <% @cocktails.each do |cocktail|%>
        <li class="title"><%= cocktail.name %></li>
        <%= link_to "More info", cocktail_path(cocktail) %>
        <% end %>
      </ul>
    </div>
    </div>
    <%= cl_image_tag("xiuk7o9wpxhqqhqrlva1",
      width: 400, height: 300, crop: :fill) %>
      <%= cl_image_tag("uhuveqn6mtrvij4hgb5g",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
  </div>
</div>
